h {
    text-align: center;
}
#section0 {
  background-color: #rgb(19,108,168);
  font-family: "serif"; Georgia, Times New Roman;
}
#section1 {
  background-color: #rgb(255,158,56);
  font-family: "serif"; Georgia, Times New Roman;
}
#section2 {
  background-color: #rgb(18,1,225);
  font-family: "serif"; Georgia, Times New Roman;
}
#section3 {
  background-color: #rgb(55,158,255);
  font-family: "serif"; Georgia, Times New Roman;
}
#lastSection {
  background-color: #rgb(23,230,59);
  font-family: "serif"; Georgia, Times New Roman;
}
